<div class="header">
    <div class="title">
        <a href="/"><img class="logo-img" src="../images/logo.png" title="logo" alt="logo"></a><span>Home learning</span></div>
    <div class="main-nav">
        <a class="sign-in" href="/sign_in">Sign in</a>
        <a class="sign-up" href="/sign_up">Sign up</a>
    </div>
</div>