<div class="header">
    <div class="title">
        <a href="/"><img class="logo-img" src="../images/logo.png" title="logo" alt="logo"></a><span>Home learning</span></div>
    <div class="main-nav3">
        <a class="home" href="/home_page_teacher">Home</a>
        <a class="profile" href="/profile_teacher">Profile</a>
        <a class="log-out" href="/log_out">Log Out</a>
    </div>
</div>